.page-left {
    width: var(--page-padding);
    padding-top: calc(var(--header-height) + 50px);
    @apply hidden md:flex;

    &::before {
        content: "";
        display: block;
        width: 0.5px;
        height: 100%;
        background-color: var(--color-primary-400);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .page-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        position: relative;
        z-index: 100;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        li {
            a {
                text-indent: -9999px;
                display: block;
                width: 16px;
                height: 16px;
                background: #FFF;
                box-shadow: 0 0 0 1px var(--color-primary-400), 0 0 0 2px #FFF, 0 0 0 3px var(--color-primary-400);
                border-radius: 50%;
                transition: background-color .3s ease-in-out;
            }

            &.active {
                a {
                    background-color: var(--color-primary-400);
                }
            }
        }
    }

    .title {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        white-space: nowrap;
        transform: rotate(180deg);
    }
    .scroll-down{
        @apply !p-0 !m-0 !bg-primary-50 !shadow-none !w-full;
    }
}